<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springcloudseataeurekaclient03.mapper.AwardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springcloudseataeurekaclient03.bean.Award">
        <id column="award_id" property="awardId" />
        <result column="user_id" property="userId" />
        <result column="integral" property="integral" />
        <result column="ctime" property="ctime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        award_id, user_id, integral, ctime
    </sql>

</mapper>
